In [5]:
print('test')

test

In [6]:
#tuple
#create a tuple with one element
t = () #built in constructor function

In [7]:
t

()

In [8]:
print(type(t))

<class 'tuple'>

In [9]:
t = tuple()

In [10]:
t = (1,2,3,4,5)

In [11]:
t = tuple((1,2,3,4,5))

In [12]:
t = tuple(("Thanvika", "Raghav", "Rohanth")) #create a single element using tuple constructor

print(t)

('Thanvika', 'Raghav', 'Rohanth')

In [13]:
for i in t:
    print(i)

Thanvika
Raghav
Rohanth

In [14]:
t = ("one", 2,3,4.5,True,1+2j,[6,7,8,9,10],(11,12,13,14,15))

In [15]:
week_days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
months = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan")

In [16]:
t.count

In [17]:
months

('Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'Jan')

In [18]:
week_days.count("Mon")

1

In [19]:
months[::-1]

('Jan',
 'Dec',
 'Nov',
 'Oct',
 'Sep',
 'Aug',
 'Jul',
 'Jun',
 'May',
 'Apr',
 'Mar',
 'Feb',
 'Jan')

In [20]:
months[::2]

('Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov', 'Jan')

In [21]:
months.index("Jan",1)

12

In [22]:
months[0] = "January"

TypeError: 'tuple' object does not support item assignment

In [23]:
t

('one', 2, 3, 4.5, True, (1+2j), [6, 7, 8, 9, 10], (11, 12, 13, 14, 15))

In [24]:
t[-1][-1]

15

In [25]:
t[-2][-1]

10

In [26]:
type(t[-1])

tuple

In [27]:
type(t[-2])

list

In [28]:
t

('one', 2, 3, 4.5, True, (1+2j), [6, 7, 8, 9, 10], (11, 12, 13, 14, 15))

In [29]:
t[-1][::-1]

(15, 14, 13, 12, 11)

In [30]:
t[-2][::-1]

[10, 9, 8, 7, 6]

In [31]:
for i in t:
    print(i)

one
2
3
4.5
True
(1+2j)
[6, 7, 8, 9, 10]
(11, 12, 13, 14, 15)

In [32]:
t[5].conjugate

In [33]:
t[::-1][-7][-1]

10

In [34]:
t1 = (1,2,3,4,5)
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [35]:
(t + t1)*3

('one',
 2,
 3,
 4.5,
 True,
 (1+2j),
 [6, 7, 8, 9, 10],
 (11, 12, 13, 14, 15),
 1,
 2,
 3,
 4,
 5,
 'one',
 2,
 3,
 4.5,
 True,
 (1+2j),
 [6, 7, 8, 9, 10],
 (11, 12, 13, 14, 15),
 1,
 2,
 3,
 4,
 5,
 'one',
 2,
 3,
 4.5,
 True,
 (1+2j),
 [6, 7, 8, 9, 10],
 (11, 12, 13, 14, 15),
 1,
 2,
 3,
 4,
 5)

In [36]:
t[-1].index(15)

4

In [37]:
names_tuple = ("Medhansh", "Varshita", "Dharika", "Rohanth", "Thanvika", "Rish")

In [38]:
names_tuple

('Medhansh', 'Varshita', 'Dharika', 'Rohanth', 'Thanvika', 'Rish')

In [39]:
#TODO Algorithm - 1
#! Our problem is to insert "Raghav" before "Rohanth" in an inmutable tuple
#? step 1 : change our tuple to list
#? step 2 : insert "Raghav"
#? step 3 : sort this list
#? step 4 : check whether the list has "Raghav"
#? step 5 : change the list back to a tuple

In [40]:
#TODO Algorithm - 2 [***Bonus***]
#! Our problem is to insert "Raghav" before "Rohanth" in an immutable tuple
#? step 1 : names tuple
#? step 2 : insert or add "Raghav" before "Rohanth"
#? step 3 : check whether the tuple has "Raghav"
#? step 4 : have result as expected tuple

In [56]:
# Alogrithm 1

names_list = list(names_tuple)
names_list.append("Raghav")
names_list.sort()
names_tuple = tuple(names_list)
names_tuple

('Dharika',
 'Medhansh',
 'Raghav',
 'Raghav',
 'Raghav',
 'Rish',
 'Rohanth',
 'Thanvika',
 'Varshita')

In [57]:
names_tuple = ("Medhansh", "Varshita", "Dharika", "Rohanth", "Thanvika", "Rish")

In [62]:
#Algorithm 2

names_tuple = ("Medhansh", "Varshita", "Dharika", "Rohanth", "Thanvika", "Rish")
nameToAdd = "Raghav"
names_tuple = (nameToAdd,) + names_tuple
print(names_tuple.index("Raghav"), type(names_tuple), names_tuple)

('Raghav', 'Medhansh', 'Varshita', 'Dharika', 'Rohanth', 'Thanvika', 'Rish') <class 'tuple'>