In [4]:
d = {
    'key1': [1,2,3,4,5],
    'key2': (11,22,33,44,55),
    'key3': {6,6,6,6,6,6,7,7,7,7,7,7,7,8,8,8,8,8,8,9,10,8,8,8,8,8,9,9,9,9,9,10,10,6,6,6},
    'key4': {
        'name': ['Rish', 'Raghav', 'Varshita', 'Rohanth', 'Dharika', 'Thanvika', 'Medhansh'],
        'age': [13,12,12,13,15,11,12],
        'id': [1,2,3,4,5,6,7]
    }
}

In [5]:
d

{'key1': [1, 2, 3, 4, 5],
 'key2': (11, 22, 33, 44, 55),
 'key3': {6, 7, 8, 9, 10},
 'key4': {'name': ['Rish',
   'Raghav',
   'Varshita',
   'Rohanth',
   'Dharika',
   'Thanvika',
   'Medhansh'],
  'age': [13, 12, 12, 13, 15, 11, 12],
  'id': [1, 2, 3, 4, 5, 6, 7]}}

In [12]:
for i in d.values():
    print(i)

[1, 2, 3, 4, 5]
(11, 22, 33, 44, 55)
{6, 7, 8, 9, 10}
{'name': ['Rish', 'Raghav', 'Varshita', 'Rohanth', 'Dharika', 'Thanvika', 'Medhansh'], 'age': [13, 12, 12, 13, 15, 11, 12], 'id': [1, 2, 3, 4, 5, 6, 7]}

In [8]:
d['key4']['name'][-1]

'Medhansh'

In [13]:
for i in d.keys():
    print(d[i])

[1, 2, 3, 4, 5]
(11, 22, 33, 44, 55)
{6, 7, 8, 9, 10}
{'name': ['Rish', 'Raghav', 'Varshita', 'Rohanth', 'Dharika', 'Thanvika', 'Medhansh'], 'age': [13, 12, 12, 13, 15, 11, 12], 'id': [1, 2, 3, 4, 5, 6, 7]}

In [14]:
l = [1,2,3,4,5]
for i in l:
    print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [15]:
d

{'key1': [1, 2, 3, 4, 5],
 'key2': (11, 22, 33, 44, 55),
 'key3': {6, 7, 8, 9, 10},
 'key4': {'name': ['Rish',
   'Raghav',
   'Varshita',
   'Rohanth',
   'Dharika',
   'Thanvika',
   'Medhansh'],
  'age': [13, 12, 12, 13, 15, 11, 12],
  'id': [1, 2, 3, 4, 5, 6, 7]}}

In [20]:
m = []
for i in d['key4'].values():
    if type(i) ==  list:
        for j in i:
            m.append(j)

print(m)

['Rish', 'Raghav', 'Varshita', 'Rohanth', 'Dharika', 'Thanvika', 'Medhansh', 13, 12, 12, 13, 15, 11, 12, 1, 2, 3, 4, 5, 6, 7]

#Object Oriented Programming

In [22]:
print(l,'\n', type(l))

[1, 2, 3, 4, 5]
 <class 'list'>

In [25]:
def greetings(name):
    print(name)

In [26]:
greetings("Raghav")
greetings("Dharika")
greetings("Rohanth")

Raghav
Dharika
Rohanth

In [27]:
l.append(6)

In [28]:
l

[1, 2, 3, 4, 5, 6]

In [29]:
#pythong objects anf functions
a = 10
b = 12.5
c = 1+2j

In [30]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [36]:
c.real

1.0

In [37]:
# class and objects
def test():
    pass

In [38]:
class Person:
    pass

In [39]:
Person

__main__.Person

In [40]:
test()

In [42]:
print(type(Person()))

<class '__main__.Person'>

In [43]:
type(123)

int

In [46]:
type(12.5)

float

In [47]:
type(Person)

type

In [48]:
p1 = Person()

In [49]:
p1

In [50]:
p2 = Person()
p3 = Person()

In [54]:
type(p3)

__main__.Person

In [55]:
p1

In [56]:
p2

In [57]:
p3

In [58]:
p1.fname = "Raghav"
p1.lname = "Singh"
p1.age = 12

p2.fname = "Rohanth"
p2.lname = "Marem"
p2.age = 13

p3.fname = "Rish"
p3.lname = "Angalakuditi"
p3.age = 13

In [62]:
print(p1.fname, p1.lname, p1.age)
print(p2.fname, p2.lname, p2.age)
print(p3.fname, p3.lname, p3.age)

Raghav Singh 12
Rohanth Marem 13
Rish Angalakuditi 13

In [63]:
# this is not a better method

class Person:
    fname = "Spiderman"
    lname = "Hero"
    age = 30

In [65]:
p1 = Person()
p2 = Person()
p3 = Person()

In [67]:
p1

In [68]:
p2

In [69]:
p3

In [74]:
print(p1.fname, p1.lname, p1.age)
print(p2.fname, p2.lname, p2.age)
print(p3.fname, p3.lname, p3.age)

Spiderman Hero 30
Spiderman Hero 30
Spiderman Hero 30

In [80]:
class Person:
    def __init__(self, fname, lname, age):
        self.fname = fname
        self.lname = lname
        self.age = age
    def myfunc(self):
        print("First Name:", self.fname)
        print("Last Name:", self.lname)
        print("Age:", self.age)

In [91]:
Names = ["Raghav", "Medhansh", "Dharika", "Thanvika", "Rish", "Varshita", "Rohanth"]
lNames = ["Singh", "Akula", "Modupalli", "Rayappeneni", "Angalakuditi", "", "Marem"]
Ages = [12,12,15,11,13,12,13]
pNum = [p1, p2, p3, p4, p5, p6, p7]
for i in pNum:
    for j in Names:
        for k in lNames:
            for o in Ages:
                i = Person(j, k, o)

# p1 = Person("Raghav", "Singh", 12)
# p2 = Person("Medhansh", "Akula", 12)
# p3 = Person("Dharika", "Modupalli", 15)
# p4 = Person("Thanvika", "Rayappeneni", 11)
# p5 = Person("Rish", "Angalakuditi", 13)
# p6 = Person("Varhsita", "", 12)
# p7 = Person("Rohanth", "Marem", 13)

In [92]:
for i in pNum:
    i.myfunc()

First Name: Raghav
Last Name: Singh
Age: 12
First Name: Medhansh
Last Name: Akula
Age: 12
First Name: Dharika
Last Name: Modupalli
Age: 15
First Name: Thanvika
Last Name: Rayappeneni
Age: 11
First Name: Rish
Last Name: Angalakuditi
Age: 13
First Name: Varhsita
Last Name:
Age: 12
First Name: Rohanth
Last Name: Marem
Age: 13