In [1]:
l1 = [1,2,3,4,5,[6,7,8,9,10]]

In [2]:
l1[-1][-1]

10

In [3]:
l1[-1][-5]

6

In [4]:
range(4)
range(1,11,2)

range(1, 11, 2)

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [6]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [7]:
l1[-1][::-2]

[10, 8, 6]

In [8]:
name = "Raghav" + "Singh"

In [9]:
name = "B" + name[1:6] + " " + name[6:]

In [10]:
name.replace("B", "R")

'Raghav Singh'

In [11]:
l1[0] = 11

In [12]:
l1

[11, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [13]:
for i in l1:
    print(i)

11
2
3
4
5
[6, 7, 8, 9, 10]

In [14]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
l = [2,3,5,7,9,10,15,12,4,3,6,7]

In [16]:
l

[2, 3, 5, 7, 9, 10, 15, 12, 4, 3, 6, 7]

In [17]:
for i in l:
    print(i+5)

7
8
10
12
14
15
20
17
9
8
11
12

In [18]:
i = 0
while (i < len(l)):
    print(l[1]+5)
    i += 1

8
8
8
8
8
8
8
8
8
8
8
8

In [31]:
l

[2, 3, 5, 7, 9, 10, 15, 12, 4, 3, 6, 7]

In [20]:
m = []

In [21]:
for i in l:
    m.append(i+5)

In [22]:
l

[2, 3, 5, 7, 9, 10, 15, 12, 4, 3, 6, 7]

In [34]:
m = [7,8,10,12,14,15,20,17,9,8,12]

In [35]:
for i in l:
    m.append(i+5)
else:
    print('Im done running loop')

Im done running loop

In [36]:
m

[7,
 8,
 10,
 12,
 14,
 15,
 20,
 17,
 9,
 8,
 12,
 7,
 8,
 10,
 12,
 14,
 15,
 20,
 17,
 9,
 8,
 11,
 12]

In [39]:
names = ["Raghav", "Rohanth", "Dharika", "Medhansh", "Rish", "Thanvika", "Varshita"]

In [44]:
for i in names:
    nameToFind = 'Dharika'
    if i == nameToFind:
        print("Yes i found you", nameToFind)
        break
else: 
    print("not able to find you")

Yes i found you Dharika

In [46]:
for i in l:
    print(i)

2
3
5
7
9
10
15
12
4
3
6
7

In [47]:
l = [2,3,4,5,7,9,10,15,12,4,3,6,7]

In [58]:
new_list = [2, 3, 4, 5, 7, 9, 10, 15, 12, 4, 3, 6, 7]
for i in range(len(new_list),):
    print(new_list[i])

2
3
4
5
7
9
10
15
12
4
3
6
7

In [59]:
l

[2, 3, 4, 5, 7, 9, 10, 15, 12, 4, 3, 6, 7]

In [62]:
l = [2, 3, 4, 5, 7, 9, 10, 15, 12, 4, 3, 6, 7, 'Hello', 'World', 'Kids', 'Take Care']

m = []

for i in l:
    if type(i) == str:
        m.append(i)

In [63]:
m

['Hello', 'World', 'Kids', 'Take Care']

In [64]:
sum = 1+2+3+4+5+6+7+8+9+10

In [65]:
sum

55

In [66]:
# program to add natural numbers using for Loop and while Loop