In [5]:
# Sets 

[] # empty list
() # empty tuple
{} # empty set or empty dict

list()  # empty list
tuple()  # empty tuple
set()  # empty set or empty dict

set1 = {} # no its not a set it is a dict
set2 = {}

In [6]:
set1

{}

In [7]:
type(set1)

dict

In [8]:
set2 = set()

In [9]:
type(set2)

set

In [10]:
set3 = {1}

In [11]:
set3

{1}

In [12]:
type(set3)

set

In [13]:
t = (1,2,3,4,5)

In [17]:
t = ((1,))

In [18]:
type(t)

tuple

In [19]:
num = (1,2,3)
a,b,c = num
print(a,b,c)

1 2 3

In [20]:
num_set = {1}
print(num_set)
print(type(num_set))

{1}
<class 'set'>

In [21]:
num_set = {1,2,3,4,5}

In [22]:
num_set

{1, 2, 3, 4, 5}

In [23]:
num_set2 = set([1,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5])

In [25]:
num_set2

{1, 2, 3, 4, 5}

In [32]:
num_set3 = set((1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,3))

In [33]:
#removes duplicates or only has unique elements, unordered

{1, 2, 3}

In [46]:
names_set = set({"Raghav", "Medhansh", "Rohanth", "Raghav", "Medhansh", "Rohanth", "Varshita"})

In [47]:
names_set

{'Medhansh', 'Raghav', 'Rohanth', 'Varshita'}

In [57]:
Medhansh_set = set({"Medhansh"})

In [58]:
Medhansh_set

{'Medhansh'}

In [59]:
def greetings(name):
    print('Hello', name)

In [63]:
greetings("Raghav")
greetings("Rohanth")
greetings("Medhansh")
greetings("Dharika")
greetings("Rish")
greetings("Varshita")
greetings("Thanvika")
greetings("Raghav")

Hello Raghav
Hello Rohanth
Hello Medhansh
Hello Dharika
Hello Rish
Hello Varshita
Hello Thanvika
Hello Raghav

In [68]:

names_set = set({"Raghav", "Medhansh", "Rohanth", "Varshita", "Rish", "Thanvika"})

In [69]:
names_set.add("Dharika")

In [70]:
names_set

{'Dharika', 'Medhansh', 'Raghav', 'Rish', 'Rohanth', 'Thanvika', 'Varshita'}

In [72]:
for i in names_set:
    greetings(i)

Hello Medhansh
Hello Rish
Hello Rohanth
Hello Varshita
Hello Raghav
Hello Dharika
Hello Thanvika

In [73]:
num_set = {1,2,3,4,5,6}

In [74]:
num_set.add(4)

In [75]:
num_set

{1, 2, 3, 4, 5, 6}

In [77]:
s1 = {1,2.3,"Hello", 1+2j,False}

In [78]:
s1

{(1+2j), 1, 2.3, False, 'Hello'}

In [83]:
s2 = {1, 2.3, "Hello", 1+2j, False, True}

In [84]:
s2

{(1+2j), 1, 2.3, False, 'Hello'}

In [86]:
bool(123)

True

In [87]:
for i in s1:
    print(i)

False
1
2.3
(1+2j)
Hello

In [88]:
set_full = {1,2,11,22,111,222, 3,33,333,4,44,444,555,55,5,'a', 'aa', 'abc','abcd', "A","B","AA", "BCD", "Hi", "Hello", "Bye"}

In [89]:
set_full

{1,
 11,
 111,
 2,
 22,
 222,
 3,
 33,
 333,
 4,
 44,
 444,
 5,
 55,
 555,
 'A',
 'AA',
 'B',
 'BCD',
 'Bye',
 'Hello',
 'Hi',
 'a',
 'aa',
 'abc',
 'abcd'}

In [90]:
print(set_full)

{1, 2, 3, 4, 5, 'AA', 'A', 11, 333, 'Bye', 'B', 22, 'aa', 222, 'abc', 33, 'Hi', 'abcd', 555, 44, 'a', 'Hello', 111, 55, 'BCD', 444}

In [93]:
num_set.pop()

2

In [94]:
num_set.pop()

3

In [95]:
num_set.pop()

4

In [96]:
num_set.pop()

5

In [97]:
num_set.pop()

6

In [98]:
num_set.pop()

KeyError: 'pop from an empty set'

In [104]:
l = [1,1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4
]
l1 = list(set(l))
l1

[1, 2, 3, 4]