In [1]:
print('test')

test

In [12]:
#tuple
#create a tuple with one element
t = () #built in constructor function

In [13]:
t

()

In [14]:
print(type(t))

<class 'tuple'>

In [15]:
t = tuple()

In [16]:
t = (1,2,3,4,5)

In [35]:
t = tuple((1,2,3,4,5))

In [43]:
t = tuple(("Thanvika", "Raghav", "Rohanth")) #create a single element using tuple constructor

print(t)

('Thanvika', 'Raghav', 'Rohanth')

In [44]:
for i in t:
    print(i)

Thanvika
Raghav
Rohanth

In [119]:
t = ("one", 2,3,4.5,True,1+2j,[6,7,8,9,10],(11,12,13,14,15))

In [120]:
week_days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
months = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan")

In [121]:
t.count

In [122]:
months

('Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'Jan')

In [123]:
week_days.count("Mon")

1

In [124]:
months[::-1]

('Jan',
 'Dec',
 'Nov',
 'Oct',
 'Sep',
 'Aug',
 'Jul',
 'Jun',
 'May',
 'Apr',
 'Mar',
 'Feb',
 'Jan')

In [125]:
months[::2]

('Jan', 'Mar', 'May', 'Jul', 'Sep', 'Nov', 'Jan')

In [126]:
months.index("Jan",1)

12

In [127]:
months[0] = "January"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t

('one', 2, 3, 4, 4.5, True, (1+2j), [6, 7, 8, 9, 10], (11, 12, 13, 14, 15))

In [128]:
t[-1][-1]

15

In [129]:
t[-2][-1]

10

In [130]:
type(t[-1])

tuple

In [131]:
type(t[-2])

list

In [132]:
t

('one', 2, 3, 4.5, True, (1+2j), [6, 7, 8, 9, 10], (11, 12, 13, 14, 15))

In [133]:
t[-1][::-1]

(15, 14, 13, 12, 11)

In [134]:
t[-2][::-1]

[10, 9, 8, 7, 6]

In [135]:
for i in t:
    print(i)

one
2
3
4.5
True
(1+2j)
[6, 7, 8, 9, 10]
(11, 12, 13, 14, 15)

In [137]:
t[5].conjugate

In [142]:
t[::-1][-7][-1]

10

In [144]:
t1 = (1,2,3,4,5)
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [146]:
(t + t1)*3

('one',
 2,
 3,
 4.5,
 True,
 (1+2j),
 [6, 7, 8, 9, 10],
 (11, 12, 13, 14, 15),
 1,
 2,
 3,
 4,
 5,
 'one',
 2,
 3,
 4.5,
 True,
 (1+2j),
 [6, 7, 8, 9, 10],
 (11, 12, 13, 14, 15),
 1,
 2,
 3,
 4,
 5,
 'one',
 2,
 3,
 4.5,
 True,
 (1+2j),
 [6, 7, 8, 9, 10],
 (11, 12, 13, 14, 15),
 1,
 2,
 3,
 4,
 5)

In [152]:
t[-1].index(15)

4

In [157]:
names_tuple = ("Medhansh", "Varshita", "Dharika", "Rohanth", "Thanvika", "Rish")

In [158]:
names_tuple

('Medhansh', 'Varshita', 'Dharika', 'Rohanth', 'Thanvika', 'Rish')

In [159]:
#TODO Algorithm - 1
#! Our problem is to insert "Raghav" before "Rohanth" in an inmutable tuple
#? step 1 : change our tuple to list
#? step 2 : insert "Raghav"
#? step 3 : sort this list
#? step 4 : check whether the list has "Raghav"
#? step 5 : change the list back to a tuple

In [ ]:
#TODO Algorithm - 2 [***Bonus***]
#! Our problem is to insert "Raghav" before "Rohanth" in an inmutable tuple
#? step 1 : names tuple
#? step 2 : insert or add "Raghav" before "Rohanth"
#? step 3 : check whether the tuple has "Raghav"
#? step 4 : have result as expected tuple