In [ ]:
#UTF-8
#-*- coding: encoding -*-

In [1]:
-3**2

-9

In [3]:
-3*-3

9

In [4]:
3**2

9

In [1]:
20 * 5 * 9

900

In [2]:
tax = 12.5 / 100

In [3]:
unit_price = 100.50

In [16]:
unit_price * tax

12.5625

In [17]:
unit_price + _

113.0625

In [18]:
final_price = round(_, 2)

In [19]:
final_price

113.06

In [21]:
int(12.5768)

12

In [23]:
int('12.45346')

ValueError: invalid literal for int() with base 10: '12.45346'

In [24]:
int(float('12.23523'))

12

In [32]:
print(r'c:\python\nancy')

c:\python\nancy

In [42]:
print("""\
Usage : variables [options]
-h Display this usage message
-H hostname Hostname to connect
""")

Usage : variables [options]
-h Display this usage message
-H hostname Hostname to connect

In [43]:
'py' 'thon'

'python'

In [49]:
text = ('Put several strings within parentheses ' 
        'to have them joined together')

In [50]:
text

'Put several strings within parentheses to have thm joined together'

In [52]:
prefix = 'Dr.'

In [53]:
('Ro' * 3) + 'hanth'

'RoRoRohanth'

In [54]:
name = 'Rohanth'

In [56]:
s = 'Python'

In [57]:
s[-1:-1:-1]

''

In [58]:
s[-2]

'o'

In [59]:
s[:2]

'Py'

In [74]:
s[-1:-8:-1]

'nohtyP'

In [75]:
s[0:2]

'Py'

In [76]:
s[0]

'P'

In [78]:
s[:2] + s[2:]

'Python'

In [79]:
s[:1] + s[1:]

'Python'

In [80]:
s[:3] + s[3:]

'Python'

In [81]:
s[0] = 'J'

TypeError: 'str' object does not support item assignment

In [82]:
'J' + s[1:]

'Jython'

In [83]:
'C' + s[1:]

'Cython'

In [84]:
s[:2] +'py'

'Pypy'

In [85]:
s = 'supercalifragilisticexpialidocious'

In [86]:
s

'supercalifragilisticexpialidocious'

In [87]:
s[::-1]

'suoicodilaipxecitsiligarfilacrepus'

In [88]:
squares = [1,4,9,16,25]

In [89]:
squares[0]

1

In [90]:
squares[-1]

25

In [91]:
squares[-3::]

[9, 16, 25]

In [92]:
squares + [36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
cubes = [1,8,27,65,125]

In [104]:
cubes

[1, 8, 27, 65, 125]

In [105]:
cubes[-2] = 4**3

In [106]:
4**3

64

In [107]:
cubes

[1, 8, 27, 64, 125]

In [108]:
20*20

400

In [109]:
lower_case_letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j', 'k', 'l', 'm', 'n','o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [110]:
#write a program to convert lower_case_letters to upper_case_letters

In [111]:
#fibonacci series:
# the number of two elements defines the next
# 0,1,1,2,3,5,8,13