In [8]:
s = "day"

In [9]:
s + 1

TypeError: can only concatenate str (not "int") to str

In [10]:
str() #type casting

''

In [11]:
s + str(1)

'day1'

In [13]:
int("karthik")

ValueError: invalid literal for int() with base 10: 'karthik'

In [21]:
float('000000000010.454')

10.454

In [22]:
l = [1,2,2,2,2,2,2,2,3,3,3,3,3,3,"Hello", "Kids", True, False, 1+2j, 12.5,13.5,14.5]

In [23]:
l1 = [1,2,3,4,5,6,7]

In [24]:
l2 = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [25]:
l1 + l2

[1, 2, 3, 4, 5, 6, 7, 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [26]:
l2*7

['Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun',
 'Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun',
 'Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun',
 'Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun',
 'Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun',
 'Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun',
 'Mon',
 'Tue',
 'Wed',
 'Thu',
 'Fri',
 'Sat',
 'Sun']

In [28]:
s = "this text to be converted as upper case"

In [30]:
print(type(s))

<class 'str'>

In [31]:
s.lower()

'this text to be converted as upper case'

In [32]:
s

'this text to be converted as upper case'

In [33]:
s.upper()

'THIS TEXT TO BE CONVERTED AS UPPER CASE'

In [34]:
s.lower()

'this text to be converted as upper case'

In [55]:
option = input('Do you want to continue... Enter (Yes/No)')
if option.upper() == 'YES' :
    print("Let us continue our play....")
else:
    print("Sorry...we are leaving...")

Let us continue our play....

In [60]:
names = ['Kartik', 'Parthiv', 'Rohanth']

In [61]:
print(type(names[2]))

<class 'str'>

In [62]:
names[0].lower()

'kartik'

In [63]:
len(names[0])

6

In [82]:
'kartik'.center(50, '_')

'______________________kartik______________________'

In [83]:
"Hello\t\tKarthik".expandtabs()

'Hello           Karthik'

In [84]:
print("Hello\n\tKarthik\n\n\n")

Hello
	Karthik

In [86]:
"Hello!Rohanth".split('!')

['Hello', 'Rohanth']

In [87]:
'kids names are {}, {}, {} and {}'.format('Karthik', 'Rohanth', 'Parthiv', 'Varun')

'kids names are Karthik, Rohanth, Parthiv and Varun'

In [93]:
firstName = input("Name Please...")
lastName = input("Last Name Please...")
print('Name: {}\nLast Name: {}'.format(lastName, firstName))#runtime error

Name: Marem
Last Name: Rohanth

In [94]:
s = "hello Varun"

In [95]:
print(s.lower())
print(s.isupper())
print(s.title())
print(s.isalpha())
print(s.isalnum())
print(s.isnumeric())
print(s.islower())
print(s.isupper())
print(s.istitle())
print(s.split())

hello varun
False
Hello Varun
False
False
False
False
False
False
['hello', 'Varun']

In [96]:
s = 'Hello!parthiv'

In [97]:
l + list([34])

[1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 'Hello',
 'Kids',
 True,
 False,
 (1+2j),
 12.5,
 13.5,
 14.5,
 34]

In [98]:
l + list((34,))

[1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 'Hello',
 'Kids',
 True,
 False,
 (1+2j),
 12.5,
 13.5,
 14.5,
 34]

In [104]:
l + list(["K, V, R"])

[1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 'Hello',
 'Kids',
 True,
 False,
 (1+2j),
 12.5,
 13.5,
 14.5,
 'K, V, R']

In [106]:
l.append('The End')

In [107]:
l

[1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 'Hello',
 'Kids',
 True,
 False,
 (1+2j),
 12.5,
 13.5,
 14.5,
 'The End']